<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/dashboard']">
            <span data-feather="home" class="align-text-bottom"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clientes']">
            <span data-feather="file" class="align-text-bottom"></span>
            Clientes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/productos']">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ventas']">
            <span data-feather="users" class="align-text-bottom"></span>
            Ventas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/compras']">
            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
            Compras
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuarios']" >
            <span data-feather="layers" class="align-text-bottom"></span>
            Usuarios
          </a>
        </li>
      </ul>

      
    </div>
  </nav>
