input, select,button{
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.editar{
    color: blue;
    cursor: pointer;
}

.eliminar{
    color: red;
    cursor: pointer;
}